* {
    margin: 0;
    padding: 0;
    background-color:#D53322;
}

.imgPop {
    position: absolute;
    height: 100vh;
    width: 180vh;
    z-index: 1;
}
.cuadroR{
    position: absolute;
    height: 100vh;
    width: 180vh;
    z-index: -1;
    
    
}

